
{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; background-color: #f4f4f4; color: #333; }

header {
    height: 400px;
    background-image: url(images/logo.png) ;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center; }

    header h1{
        text-align: right;
        position: absolute;
        top: 180px;
        right: 7%;
    }

nav { 
    margin-right: 6%;
    text-align: right;
    position: relative;
    margin-top: 350px; }

nav ul { list-style-type: none; }

nav ul li { display: inline; margin: 0 15px; }

nav ul li a { color: white; text-decoration: none; font-weight: bold; transition: color 0.3s; }

nav ul li a:hover { color: #ffcb05; /  Цвет при наведении / }

main { padding: 20px; 
    max-width: 1000px; 
    margin: 20px auto; 
    background: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); }

h2 { border-bottom: 2px solid #0078d4; padding-bottom: 10px; margin-bottom: 20px; }

.image-gallery { display: flex; gap: 15px; flex-wrap: wrap; justify-content: center; }

.image-gallery img { border-radius: 8px; max-width: 300px; transition: transform 0.3s; }

.image-gallery img:hover { transform: scale(1.05); }

.appointment-section {  
     
     position: absolute; 
    top:  120px;
    height: 300px;
    width: 700px;
    left: 2%;
    overflow: hidden; / Скрываем выход за пределы /
    text-align: center; 
    color: white; 
    margin: 20px 0; border-radius: 8px; }

.slider { width: 100%; 
    height: 100%; 
   position: absolute;
    top: 0; 
    left: 0; 
    transition: transform 0.5s ease-in-out; 
    flex-shrink: 0; 
    
}

.slide { max-width: 100%; / Каждый слайд занимает ширину блока / 
    max-height: 100%; / Высота слайда равна высоте блока / 
    background-size: cover; / Обложка для фона / 
    background-position: center; / Центрирование изображения / 
    transition: opacity 0.5s ease-in-out; / Плавный переход для эффекта появления /
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide img{
    object-fit: cover;
    object-position: 50% 50%;
    max-width: 100%; / Каждый слайд занимает ширину блока / 
    max-height: 100%;
    display: block;
} 
 


.slide.active { opacity: 1; / Отображаем активный слайд / }

.appointment-content { position: relative;
     
     top: -50px;
    padding: 20px; border-radius: 8px; 
    z-index: 1; 
    height: 500px;
}

.appointment-content h2 { margin-bottom: 20px; }

button { background-color: #0078d4; / Цвет фона кнопки / color: white; / Цвет текста кнопки / border: none; / Убираем обводку / padding: 10px 20px; / Отступы внутри кнопки / border-radius: 5px; / Сглаженные углы / cursor: pointer; / Указатель при наведении / font-size: 16px; / Размер шрифта / transition: background-color 0.3s; / Плавный переход цвета / }


button:hover { background-color: #005bb5; / Более темный цвет кнопки при наведении / }

footer { background-color: #333; / темно-серый цвет / color: white; / Цвет текста / text-align: center; / Центрируем текст / padding: 15px 0; }

.footer-content { text-align: center; / Центрируем содержимое футера / margin-bottom: 10px; color: #fff; / Полупрозрачный фон для выделения текста  / padding: 10px; / Немного отступа вокруг текста / border-radius: 5px; / Сглаживание углов / }

.footer-content p { margin: 5px 0; / Отступы между строками / text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); / Тень для текста / }

.social-icons { margin: 10px 0; text-align: center;}

.social-icons a { color: white; / Цвет иконок / margin: 0 10px; text-decoration: none; font-size: 1.5em; / Увеличим размер иконок / } `